body{
    margin:0;
    padding:0;
    box-sizing: 0;
}
form{
    margin:40px;
    justify-content:center;
}
h2{
    padding-top:40px;
}
form input[type="text"]{
    width:40rem;
    margin-top:10px;
}
 form .btn{
text-align:center;
margin-left:20rem ;
width:10rem;
margin-left:0px;
margin-top:30px;
background-color:gray;
}
form .btn :hover{

}
